.module-body {
	padding-left:200px;
}
.like-disabled-input {
	background: #eee;
	border: 1px solid #d1d8dd;
	border-radius: 4px;
	padding-top: 4px;
	padding-left: 7px;
}
.sub-heading {
	font-size: larger;
}
.col-md-10 {
	width: 100%;
}
.layout-side-section {
	z-index: 1025;
	position: fixed;
	background: #7b7b7b !important;
	padding-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	padding-bottom: 10px;
	display:none;
}
.form-sidebar {
	overflow-y: auto;
}
.collapsible-button {
	float:left;
	margin-right: 10px;
	height: 40px;
}
.collapsible-button .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	margin-bottom:3px;
	background-color: black;
	border-radius: 1px;
}
.sidebar-menu h6, .sidebar-menu .h6 {
	color: white;
}
.sidebar-menu > li {
	color: black;
}
.scroll-to-top {
	margin-top: 15px;
}
.after-save {
    position: fixed;
    z-index: 1025;
    width: 500px;
	bottom: 10px;
    height: 250px;
	background: #7b7b7b;
	overflow-y:auto;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	border: 2px solid darkgrey;
	right: 25px;
	display: none;
}
.form-comments {
	margin-left: 20px;
	margin-right: 20px;
}
.timeline-item.user-content .comment-header {
	color: black !important;
}
.reply {
	background: white;
}
.comment-input-header {
	color: black !important;
}
.module-section {
	margin-left: initial;
}
.module-body {
	padding-left: initial;
}
.h4 {
	color: black;
	text-transform: uppercase;
	font-size:18px;
}
.module-section .module-section-link {
	color: darkslateblue;
	font-size: 100%;
}
.timeline-item.notification-content *{
	color: white;
}
.form-section h6, .form-section .h6 {
	color: black;
	font-weight: bold;
}
.control-label {
	color: mediumblue;
	font-weight: 600;
	text-transform: uppercase;
}
.grid-heading-row {
	background-color: darkslateblue;
}
.grid-heading-row {
	color:white;
}
.form-documents {
	display:none;
}
.module-link {
	color:white;
}
.grid-row:hover {
	color: darkslateblue;
}
#page-desktop .page-container {
	background-color: #525454;
}
