@media screen and (min-width: 916px) {

.module-body {
	padding-left:200px;
}
.like-disabled-input {
	background: #eee;
	border: 1px solid #d1d8dd;
	border-radius: 4px;
	padding-top: 4px;
	padding-left: 7px;
}
.sub-heading {
	font-size: larger;
}
.col-md-10 {
	width: 100%;
}
.layout-side-section {
	z-index: 1025;
	position: absolute;
	background: #0094cd !important;
	padding-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	padding-bottom: 10px;
	display:none;
}
.form-sidebar {
	overflow-y: auto;
}
.collapsible-button {
	float:left;
	margin-right: 10px;
	height: 40px;
	background: transparent;
}
.collapsible-button .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	margin-bottom:3px;
	background-color: white;
	border-radius: 1px;
}
.case-wrapper {
    /*width: 140px;*/
    /*height: 140px;*/
    /*border-radius: 20px;*/
    padding: 20px;
    /*border-width: 1px;*/
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 10px rgba(0, 0, 0, 0.2);*/
    /*margin: 8px;*/
}
/*.circle {
	right: 10px;
	top: 7px;
}*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    background-color: white;
    padding: 3px;
    height: initial;
    margin-top: 7px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: -13px;
}
.case-label-text {
    color: white !important;
}
.navbar-new-comments-true {
	background-color: black;
}
.sidebar-menu h6, .sidebar-menu .h6 {
	color: white;
}
.sidebar-menu > li {
	color: black;
}
.scroll-to-top {
	margin-top: 15px;
}
.after-save {
	position: fixed;
	z-index: 1025;
	width: 500px;
	bottom: 10px;
	height: 250px;
	background: #0094cd;
	overflow-y:hidden;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid darkgrey;
	right: 25px;
	display: none;
	border-radius: 10px;
}
.after-save:hover {
	overflow-y:scroll;
}
.form-comments {
	margin-left: 20px;
	margin-right: 20px;
}
.timeline-item.user-content .comment-header {
	color: black !important;
}
.reply {
	background: white;
}
.comment-input-header {
	color: black !important;
}
.module-section {
	margin-left: initial;
}
.module-body {
	padding-left: initial;
}
.h4 {
	color: black;
	text-transform: uppercase;
	font-size:18px;
}
.module-section .module-section-link {
	color: darkslateblue;
	font-size: 100%;
}
.timeline-item.notification-content *{
	color: white;
}
.form-section h6, .form-section .h6 {
	color: black;
	font-weight: bold;
}
.control-label {
	color: mediumblue;
	font-weight: 600;
	text-transform: uppercase;
}
.grid-heading-row {
	background-color: #d34615;
	color:white;
}
.grid-heading-row .grid-row:hover:first-child {
	background-color: #d34615;
	color:white;
}
.navbar-default {
	background-color: #3097d1;
}
body[data-route=""] .navbar-default, body[data-route="desktop"] .navbar-default {
	background-color: #3097d1;
}
#navbar-breadcrumbs > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: white;
}
.form-layout {
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.form-documents {
	display:none;
}
.module-link {
	color:white;
}
.grid-row:hover {
	color: darkslateblue;
}
.form-inner-toolbar {
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.25), 0 0px 20px 0 rgba(0, 0, 0, 0.24);
	background: #d34615;
}
.btn-primary {
	background-color: #38b44a;
	border-color: #38b44a;
}
.btn-primary:hover {
	background-color: #38b44a;
	border-color: transparent;
}
.btn-primary:active {
	background-color: #38b44a;
	border-color: transparent;
}
.has-error .form-control {
	border-color: #df382c;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
	color: #df382c;
}
#navbar-search {
	background-color: white;
}
a {
	color: black;
}
.case-label-text {
	color: black;
	text-shadow: initial;
}
#page-desktop {
	background-color: #252525 !important;
}
.radio, .checkbox {
	height: 44px;
}
}
