.print-preview {
	box-shadow: 2px 1px 4px rgb(25 39 52 / 20%), 0px 5px 6px rgb(25 39 52 / 30%);
	position: relative;
}
.print-format-container {
	border-radius: var(--border-radius);
    position: absolute;
    height: 100% !important;
    width:100%;	
}
.upd-button {
	position:relative;
	margin-top: -20px;
	margin-right: -5px;
}
.address-box {
	display: flow-root;
}

